:root {
    --cor-primaria: #EEF5FF;
    --cor-secundaria: #B4D4FF;
    --cor-terciaria: #86B6F6;
    --cor-quarta: #176B87;
}



@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}      
.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: 'monteserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--cor-quarta);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-quarta);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
    color: var(--cor-quarta);
}

.apresentacao__links__sutitulo {
    font-family: 'krona One', sans-serif;
    font-weight:400;
    font-size: 1.25rem;
}
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--cor-primaria);
    width: 320px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
    border: 2px solid var(--cor-quarta);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-terciaria);
}

.rodape {
    color: var(--cor-primaria);
    padding: 24px;
    background-color: var(--cor-quarta);
    text-align: center;
    font-family: 'Monteserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
   .cabecalho {
     padding: 10%;
   }
   .cabecalho__menu {
    justify-content: center;
   }
   
    .apresentacao {
     flex-direction: column-reverse;
     padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}   